* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
/* contenitori */
.container {
  width: 100vw;
  height: 300px;
  background-image: url(../img/vienna.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

.container2 {
  width: 100vw;
  height: 300px;
  background-image: url(../img/amburgo.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

.container3 {
  width: 100vw;
  height: 300px;
  background-image: url(../img/napoli.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}
/* layover blocchi neri*/
.layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

/* layer over rossi */
.layh{
  width: 100%;
  height: 100%;
  background-color: rgba(201, 0, 44, 0.2);
  display: none;
}
/* hover appare */
.lay:hover .layh{
  display: block;
}
/* hover scompare */
.lay:hover .layover{
  display: none;
}

/* titolo centrato */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ombra h2 */
h2 {
  text-shadow:5px 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
}
